body {
    margin:0 auto 0 auto;
    padding: 0;
    z-index: 50;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.homePage {
    margin: 0 auto;
    min-height: 800px;
    z-index: 98;
}

.header {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 48px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    background-color: #11a640;
    box-shadow: 0 1px 1px 1px;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin:0 auto 0 auto ;
}

#clg-name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 48px;
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: white;
    width: 320px;
    margin-left: 40px;
    line-height: 46px;
    border-right: 1px solid black;

}

#logo {
    -ms-flex-preferred-size: 48px;
    flex-basis: 48px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    height: 48px;
    width: 48px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.clg-name-3d {
    box-sizing: content-box;
    cursor: pointer;
    border: none;
    font: normal 100px/normal "Passero One", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-overflow: clip;
    text-shadow: 0 1px 0 rgb(204, 204, 204), 0 1px 0 rgb(201, 201, 201), 0 1px 0 rgb(187, 187, 187), 0 1px 0 rgb(185, 185, 185), 0 1px 0 rgb(170, 170, 170), 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
    -webkit-transition:all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.clg-name-3d:hover {
    color: rgba(169, 214, 169, 1);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 2px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.247059), 0 -7px 10px rgba(0, 0, 0, 0.2), 0 -15px 20px rgba(0, 0, 0, 0.14902);
    -webkit-transition:all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.headerItem {
    text-shadow: 0 0.5px 0 rgb(204, 204, 204), 0 0.5px 0 rgb(201, 201, 201), 0 0.5px 0 rgb(187, 187, 187), 0 0.5px 0 rgb(185, 185, 185), 0 0.5px 0 rgb(170, 170, 170), 0 0.5px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 0.5px 3px rgba(0, 0, 0, 0.298039), 0 0.5px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 0.5px 10px rgba(0, 0, 0, 0.2), 0 0.5px 20px rgba(0, 0, 0, 0.14902);
    -ms-flex-preferred-size: 48px;
    flex-basis: 48px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    border-right: 1px solid black;
    display: inline-block;
    color: #e1e1e1;
    font-size: 12px;
    font-family: Calibri;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 46px;
}

.header span a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#headerSpanLogin {
    margin-left: 0;
    border: 0;
}

#headerSpanAbout {

}

.header span .my_a:hover {
    color: #ec353e;
    text-shadow: 0 1px 0 rgb(255, 25, 23), 0 1px 0 rgb(255, 22, 16), 0 1px 0 rgb(255, 23, 18), 0 1px 0 rgb(255, 35, 11), 0 1px 0 rgb(255, 21, 14), 0 2px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.247059), 0 -7px 10px rgba(0, 0, 0, 0.2), 0 -15px 20px rgba(0, 0, 0, 0.14902);
}

.loaderBar {
    position: relative;
    height: 4px;
    width: 0;
    background-color: red;
    -webkit-animation-name: loaderBarAnimation;
    animation-name: loaderBarAnimation;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
     animation-direction: alternate;

}
@-webkit-keyframes loaderBarAnimation{
    0%{width:10px}
    50%{width: 50%}
    70%{width: 70%}
    80%{width: 80%}
}
@keyframes loaderBarAnimation{
    0%{width:10px}
    50%{width: 50%}
    70%{width: 70%}
    80%{width: 80%}
}
.profilePhotoContainer {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 350px;
    background-color: white;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 2px 0;
    margin:0 auto 0 auto;
}
.coverImg {
    height: 350px;
    width: 100%;
    display: none;
    -webkit-animation-name: setCoverImg;
    animation-name: setCoverImg;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes setCoverImg{
    to{opacity: 1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
    from{opacity: 0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
}
@keyframes setCoverImg{
    to{opacity: 1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
    from{opacity: 0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
}
.fileUpload {
    top: 330px;
    left: 15px;
    overflow: hidden;
    position: absolute;
}
.fileUpload  [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.changeCoverPhotoSpan{
    background-color: inherit;
    margin-left: 1px;
    height: 16px;
    text-align: center;
}
.leftProfileBtn{
    position: absolute;
    top: 111px;
    left: 2%;
    z-index: 100;
}
.rightProfileBtn{
    position: absolute;
    top: 111px;
    left:94%;
    z-index: 100;
}
.dpDot{
    height: 13px;
    width: 13px;
    background-color: rgb(225, 225, 225);
    border-radius: 50%;
    display: inline-block;
    margin:15px 0 0 10px ;
    z-index: 101;
    color: #e1e1e1;
    font-size: 14px;
    text-align: center;
}
.writeSUB {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    height: 50px;
    background-color: #11a640;
}

.body-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin: 0 0 0 0;
    width:100%;
}

.body-container h1 {
    font-size: 26px;
    padding: 15px 0;
    color: #11a640;
    font-family: Calibri;
    float: left;
}

.body-container div p img {
    padding: 5px 2px 8px 0;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.body-container p img {
    padding: 5px 5px 8px 0;
}

.body-container p {
    margin: 80px 2px 0 -200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #424141;
    text-align: justify;
    line-height: 19px;
    width: 500px;
    display: table;
}

.homePageFuture {
    height: 50px;
    background-color: #11a640;
}

.ourPride {
    width: 280px;
    height: 235px;
    border: 25px solid gray;
    float: right;
    margin: 60PX 100px 0 0;
}
.ourPride h1 {
    font-size: 26px;
    padding: 6px 500px 0 0;
    color: #a50133;
    font-family: Calibri;
    display: block;
    margin-left: 25px;
}
.EditSaveBtnContainer{
    margin:10px auto 0 50%;
    position: relative;
}
.EditSaveBtn{
    background-color: #4dc71f;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.facultyImg{
    width: 670px;
    height: 273px;
    position: relative;
    z-index: 100;
}
.facultyImgContainer{
    position: relative;
    width: 670px;
    height: 273px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    z-index: 99;
    box-shadow: 0 0 2px 0;
}
.changePhotoSpan{
    background-color: inherit;
    margin-left: 1px;
    height: 16px;
    text-align: center;
    z-index: 101;
}

.photoFacultyUpload {
    top:0;
    left:0;
    position: absolute;
    z-index: 100;
}
.photoFacultyUpload [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}