<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>$USBM$</title>
  <link rel="stylesheet" href="homePageStyle.css">
  <!-- <link rel="stylesheet" href="utility.css"> -->
  <link rel="stylesheet" href="font-awesome.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

</head>

<body>
  <div id="container"></div>
  <script src="bundle.js"></script>
</body>

</html>