body {
    margin: 0;
    padding: 0;
    z-index: 50;
}

.container {
    display: flex;
}

.homePage {
    margin: 0 auto;
    min-height: 800px;
    z-index: 98;
}

#logo {
    width: 550px;
    margin: 20px 0 20px 185px;
}

.header {
    flex: 1;
    height: 48px;
    flex-basis: 100px;
    flex-shrink: 1;
    background-color: #11a640;
    box-shadow: 0 1px 1px 1px;
    border-radius: 2px;
    display: flex;
}

#clg-name {
    flex: 1;
    height: 48px;
    flex-basis: 300px;
    flex-shrink: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: white;
    width: 200px;
    margin-left: 40px;
    line-height: 46px;
    border-right: 1px solid black;

}

#logo {
    flex: 1;
    flex-basis: 48px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 48px;
    width: 48px;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.clg-name-3d {
    box-sizing: content-box;
    cursor: pointer;
    border: none;
    font: normal 100px/normal "Passero One", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 1px 0 rgb(204, 204, 204), 0 1px 0 rgb(201, 201, 201), 0 1px 0 rgb(187, 187, 187), 0 1px 0 rgb(185, 185, 185), 0 1px 0 rgb(170, 170, 170), 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.clg-name-3d:hover {
    color: rgba(169, 214, 169, 1);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 2px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.247059), 0 -7px 10px rgba(0, 0, 0, 0.2), 0 -15px 20px rgba(0, 0, 0, 0.14902);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.headerItem {
    text-shadow: 0 0.5px 0 rgb(204, 204, 204), 0 0.5px 0 rgb(201, 201, 201), 0 0.5px 0 rgb(187, 187, 187), 0 0.5px 0 rgb(185, 185, 185), 0 0.5px 0 rgb(170, 170, 170), 0 0.5px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 0.5px 3px rgba(0, 0, 0, 0.298039), 0 0.5px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 0.5px 10px rgba(0, 0, 0, 0.2), 0 0.5px 20px rgba(0, 0, 0, 0.14902);
    flex: 1;
    flex-basis: 48px;
    flex-grow: 1;
    flex-shrink: 1;
    border-right: 1px solid black;
    display: inline-block;
    color: #ccc;
    font-size: 12px;
    font-family: Calibri;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 46px;
}

.header span a {
    display: inline-block;
    text-decoration: none;
    display: block;
    color: white;
}

#headerSpanLogin {
    margin-left: 0;
    border: 0;
    margin-left: 10px;
}

#headerSpanAbout {

}

.header span a:hover {
    color: #ec353e;
    text-shadow: 0 1px 0 rgb(255, 25, 23), 0 1px 0 rgb(255, 22, 16), 0 1px 0 rgb(255, 23, 18), 0 1px 0 rgb(255, 35, 11), 0 1px 0 rgb(255, 21, 14), 0 2px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.247059), 0 -7px 10px rgba(0, 0, 0, 0.2), 0 -15px 20px rgba(0, 0, 0, 0.14902);
}

.loaderBar {
    position: relative;
    height: 4px;
    width: 0;
    background-color: red;
    animation-name: loaderBarAnimation;
    animation-duration: 4s;
     animation-direction: alternate;

}
@keyframes loaderBarAnimation{
    0%{width:10px}
    50%{width: 50%}
    70%{width: 70%}
    80%{width: 80%}


}
.profilePhotoContainer {
    flex: 1;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    height: 350px;
    background-color: white;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 2px 0;
}
.coverImg {
    height: 350px;
    width: 100%;
}
.setProfileBtn {
    margin: 200px 0 0 20px;
    text-decoration: none;
    background-color: #0a6565;
    display: inline-block;
}

.writeSUB {
    flex: 1;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 50px;
    background-color: #11a640;
}

.body-container {
    flex: 1;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 0 0 0;
    width:100%;
}

.body-container h1 {
    font-size: 26px;
    padding: 15px 0;
    color: #11a640;
    font-family: Calibri;
    float: left;
}

.body-container div p img {
    padding: 5px 2px 8px 0;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.body-container p img {
    padding: 5px 5px 8px 0;
}

.body-container p {
    margin: 80px 2px 0 -200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #424141;
    text-align: justify;
    line-height: 19px;
    width: 500px;
    display: table;
}

.homePageFuture {
    height: 50px;
    background-color: #11a640;
}

.ourPride {
    width: 280px;
    height: 235px;
    border: 25px solid gray;
    float: right;
    margin: 60PX 100px 0 0;
}

.ourPride h1 {
    font-size: 26px;
    padding: 6px 500px 0 0;
    color: #a50133;
    font-family: Calibri;
    display: block;
    margin-left: 25px;

}

.new {
    position: absolute;
    padding: 0;
    margin: 0 0 0 0;
    display: inline-block;
}

.new li {
    padding: 0;
    margin-bottom: 0;
    display: block;
    text-decoration: none;
    text-align: left;

}