body {
    margin: 0 auto 0 auto;
    padding: 0;
    z-index: 50;
}


.containerAllDataBox{
    margin:0 auto 0 auto ;
    width: 1350px;
}
.homePage {
    margin: 0 auto;
    min-height: 800px;
    z-index: 98;
}

.header {
    flex: 1;
    height: 48px;
    flex-basis: 100%;
    flex-shrink: 1;
    background-color: #11a640;
    box-shadow: 0 1px 1px 1px;
    border-radius: 2px;
    display: flex;
    margin: 0 auto 0 auto;
}

#clg-name {
    flex: 1;
    height: 48px;
    flex-basis: 320px;
    flex-shrink: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: white;
    width: 320px;
    margin-left: 40px;
    line-height: 46px;
    border-right: 1px solid black;

}

#logo {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    left: 0;
}

.clg-name-3d {
    /* box-sizing: content-box;
    cursor: pointer;
    border: none;
    font: normal 10px/normal "Passero One", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip; */
    text-shadow: 0 1px 0 rgb(204, 204, 204), 0 1px 0 rgb(201, 201, 201), 0 1px 0 rgb(187, 187, 187), 0 1px 0 rgb(185, 185, 185), 0 1px 0 rgb(170, 170, 170), 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.clg-name-3d:hover {
    color: rgba(169, 214, 169, 1);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 1px 0 rgba(255, 255, 255, 1), 0 2px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.247059), 0 -7px 10px rgba(0, 0, 0, 0.2), 0 -15px 20px rgba(0, 0, 0, 0.14902);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
/*.................header style....................................  */
.dropdown-menu>li:hover a a{
     text-decoration: none;
     color: black
}

 .dropdown-menu>li>a{
  text-decoration: none;
    color: white;
     background-color: #11a640;
}
.navbar-nav>li>.dropdown-menu{
      background-color: #11a640;
}
 .dropdown-menu>li>a a{
  text-decoration: none;
    color: white;
}
.navbar-default .navbar-toggle{
    border:1px solid white;    
    background-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
       background: rgb(63, 13, 13);
}
#basic-nav-dropdown li{
       text-decoration: none;
    color: #e6e6e6;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #cf3b3b;
    background-color: #e7e7e7;
}

/* .dropdown  a{
    background: red;
   
}
 */

 #basic-nav-dropdown1, #basic-nav-dropdown2, #basic-nav-dropdown3, #basic-nav-dropdown4, #basic-nav-dropdown5{
 color: white;
 }
#noMenu:hover{
background-color: #e7e7e7;
}
#noMenu a{
       text-decoration: none;
}

/*..............................................  */


.header span a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#headerSpanLogin {
    margin-left: 0;
    border: 0;
}

#headerSpanAbout {

}

.headerColorRed span {
    color: red;
    text-shadow: 0 1px 0 rgb(255, 10, 27), 0 1px 0 rgb(255, 10, 27), 0 1px 0 rgb(255, 10, 27), 0 1px 0 rgb(255, 10, 27), 0 1px 0 rgb(255, 10, 27), 0 2px 1px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0), 0 -10px 5px rgba(0, 0, 0, 0), 0 -2px 5px rgba(0, 0, 0, 0), 0 -5px 10px rgba(0, 0, 0, 0);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

}

.header span .my_a:hover {
    color: #ec0003;
    text-shadow: 0 1px 0 rgb(255, 10, 27), 0 1px 0 rgb(255, 10, 27), 0 1px 0 rgb(255, 10, 27), 0 1px 0 rgb(255, 10, 27), 0 1px 0 rgb(255, 10, 27), 0 2px 1px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0), 0 -10px 5px rgba(0, 0, 0, 0), 0 -2px 5px rgba(0, 0, 0, 0), 0 -5px 10px rgba(0, 0, 0, 0);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.loaderBar {
    position: relative;
    height: 4px;
    width: 0;
    background-color: red;
    animation-name: loaderBarAnimation;
    animation-duration: 4s;
     animation-direction:  alternate;

}

@keyframes loaderBarAnimation {
    0% {
        width: 10px
    }
    50% {
        width: 50%
    }
    70% {
        width: 70%
    }
    80% {
        width: 80%
    }
}

.profilePhotoContainer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    position: relative;
    height: 350px;
    background-color: white;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 2px 0;
    margin: 0 auto 0 auto;
}

.coverImg {
    height: 350px;
    width: 100%;
    display: none;
    animation-name: setCoverImg;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes setCoverImg {
    to {
        opacity: 1
    }
    from {
        opacity: 0
    }
}
/*................home photo cycle box..................................  */
.fileUpload {
    top: -25px;
    left: 15px;
    overflow: hidden;
    position: relative;
    color: white;
}

.fileUpload [type=file] {
    cursor: pointer;
    display: block;
    font-size: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}















.changeCoverPhotoSpan {
    background-color: inherit;
    margin-left: 1px;
    height: 16px;
    text-align: center;
}

.leftProfileBtn {
    cursor: pointer;
    position: absolute;
    top: 111px;
    left: 2%;
    z-index: 100;
}

.rightProfileBtn {
    cursor: pointer;
    position: absolute;
    top: 111px;
    left: 94%;
    z-index: 100;
}

.dpDot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: rgb(225, 225, 225);
    border-radius: 50%;
    display: inline-block;
    margin: 15px 0 0 10px;
    z-index: 101;
    color: #e1e1e1;
    font-size: 14px;
    text-align: center;
}

.writeSUB {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 50px;
    background-color: #11a640;
}

.body-container {
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
}

.homePageFuture {
    height: 50px;
    background-color: #11a640;
}

.usbmAtGlanceBox {
    order: 1;
    flex: 1 1 500px;
    min-height: 300px;
    margin: 5px 5px 5px 5px;
}

.usbmAtGlanceBox h1 {
    font-size: 26px;
    padding: 15px 0;
    color: #11a640;
    font-family: Calibri;
}

.usbmAtGlanceBox .usbmAtGlance p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #424141;
    text-align: justify;
    line-height: 19px;
    padding-bottom: 6px;
}

.usbmAtGlanceBox .usbmAtGlance p img {
    float: left;
    margin-right: 20px;
    padding: 5px 2px 8px 0;
}

.ourPrideBox {
    order: 2;
    flex: 1 1 600px;
    min-height: 300px;
    margin: 5px 5px 5px 15px;

}

.ourPrideBox h1 {
    font-size: 26px;
    padding: 15px 0;
    color: #11a640;
    font-family: Calibri;

}
.ourPride{
    height: 250px;
    width: 550px;
    border: 25px solid gray;

}
.EditSaveBtnContainer {
    margin: 10px auto 0 50%;
    position: relative;
}

.EditSaveBtn {
    cursor: pointer;
    background-color: #4dc71f;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.facultyImg {
    width: 670px;
    height: 273px;
    position: relative;
    z-index: 100;
}

.facultyImgContainer {
    position: relative;
    width: 670px;
    height: 273px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    background-color: white;
    z-index: 99;
    box-shadow: 0 0 2px 0;
}

.changePhotoSpan {
    background-color: inherit;
    margin-left: 1px;
    height: 16px;
    text-align: center;
    z-index: 101;
}

.photoFacultyUpload {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
}

.photoFacultyUpload [type=file] {
    cursor: pointer;
    font-size: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    left: 0;
}