
.triangleBox{
    flex: 1;
    flex-basis: 48px;
    flex-grow: 1;
    flex-shrink: 1;
    border-left:10px solid transparent ;
    border-right:10px solid transparent;
    border-top:10px solid   transparent ;
    border-bottom:10px solid rgba(17,166,64,0.9);
    position:absolute;
    left: -100px;
    top:31px;
    display: block;
    z-index: 101;
}
.layer{
    cursor: pointer;
    flex-basis: 48px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 50px;
    width: 150px;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    top: 32px;
    z-index: 99;
    left: -131px;

}
.layer:hover{
    color:inherit;
}

#subMenu{
    z-index: 100;
    border-top: 1px solid black;
    flex-basis: 48px;
    flex-grow: 1;
    flex-shrink: 1;
    position: absolute;
   min-width: 0;
    background-color: rgba(17,166,64,0.9);
    left: -132PX;
    top: 51px;
    color: white;
    height: 18px;
    display: table;
    text-align: center;
    line-height: 22px;
}
.menuContainer {
    flex: 1;
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    z-index: 101;
    height: 100%;
    width: 100%;

}
#subMenu ul{
    flex: 1;
    flex-basis: 48px;
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom: 1px solid black;
    display:inline-block;
    text-decoration: none;
    background-color: rgba(17,166,64,0.9);
    margin: 0;
    padding: 10px 10px;
}
#subMenu ul li{
    flex: 1;
    flex-basis: 100px;
    flex-grow: 3;
    flex-shrink: 1;
    text-align: left;
    position: relative;
    list-style: none;
    display: list-item;
    width: 200px;
}

#subMenu ul li  a{
    flex: 1;
    flex-basis: 48px;
    flex-grow: 1;
    flex-shrink: 1;
    display:block ;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    line-height: 1.4em;
    padding: 5px 1px;
    text-transform: none;
    border-bottom: 1px solid #073860;
    border-right: none;
    border-bottom: 1px solid black;
}
#subMenu ul a:hover{
    color: red;
    font-size: 15px;
    text-shadow:0.2px 0.2px 0.2px;
}
